
body {
    background-color: rgb(245, 238, 238);
}
.container {
    background-color: white;
    width: 90%;
    padding-bottom: 15px;
}

.myBrand {
    font-family: serif;
}


.navbar-header {
    background-color: rgb(18, 168, 168);
}

.myPicture {
    width: 300px;
    height: 200px;
}
.myFooter {
    border-top: 7px solid  rgb(18, 168, 168);
}