
body {
    background-color: rgb(245, 238, 238);
}
.container {
    background-color: white;
    width: 90%;
}

.myBrand {
    font-family: serif;
}


.navContainer {
    background-color: rgb(18, 168, 168);
}