body {
    background-image: url('./background.jpg');
  }

.navbar {
    padding: 0;
}

.navbar-brand {
    /* background-color: rgb(18, 168, 168); */
    width: 100%;
    text-align: center;
    font-family: serif;
    font-size: 34px;
}

.myLogo {
    height: 70px;
    width: 70px;
}

.projectOne {
    height: 450px;
    width: 450px;
}

.projectTwo {
    height: 450px;
    width: 450px;
}

.homeworkOne {
    height: 450px;
    width: 450px;
}

.homeworkTwo {
    height: 450px;
    width: 450px;
}

.myPicture {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

body {
    background-color: rgb(243, 233, 233);
}

.container-md {
    background-color: white;
    width: 90%;
    padding-bottom: 15px;
    /* background-color: rgb(224, 228, 235); */
}

hr {
    border: 1px solid rgb(63, 61, 61);
}

/* Page heading text 'About Me', 'Portfolio', 'Contact' formatting */
.myHeader {
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
}

/* Formatting <p> tag on 'About Me' page */
.myParagraph {
    line-height: 1.6rem;
    color: rgba(44, 39, 39, 0.774);
    font-family: Arial, Helvetica, sans-serif;
}

/* Formatting <img> tag on 'Portfolio' page */
.myPortfolio img {
    margin-bottom: 10px;
}

/* Formatting <footer> tag */
.myFooter {
    border-top: 7px solid  rgb(18, 168, 168);

}

.connect {
    text-align: center;
}


.footer__social {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer__social-item {
    color: #0198e4;
    font-size: 1.9rem;
    padding-right: 30px;
}

/* Parent Container */
.contentImage{
    position: relative;
    float: left;
    margin-bottom: 50px;
}
   
   /* Child Text Container */
   .contentImage div {
    position: absolute;
    background: rgb(42, 161, 190);
    color: rgb(190, 67, 10);
    margin-top: 5px; 
    font-family: 'Barlow', sans-serif;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
   }
   
   /* Hover on Parent Container */
   .contentImage:hover{
    cursor: pointer;
   }
   
   .contentImage:hover div {
    width: 440px;
    height: 450px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.95; 

/* position: absolute;
  width:95%;
  height: 10%;
  bottom: 0; */
   }

.projectLink {
    color:blue;
}


/* Formatting container to show width in Medium Screen */
@media (min-width: 768px)  {
    .container-md {
        width: 90%;
        margin-top: 50px;
    }
}


/* Formatting container to show width in Very Large Screen */
@media (min-width: 1280px)  { 
    .container-md {
        width: 65vw;
        /* margin-left: 20px; */
    } 
} 

@media only screen and (max-width: 1280px) {
    .contentImage:hover div {
        width: inherit;
    }
}


/* Formatting navbar-brand for Medium Screen */
@media (min-width: 768px)  {
    .navbar-brand {
        padding-left: 0;
        padding-top: 0;
        text-align: left;
        width: fit-content;
        margin-left:20px ;
    }
}
